/* Estilo general para toda la página */
body {
    background-color: #e7a9e2; /* Rosita claro en hexadecimal */
    font-family: sans-serif;
}

/* Alineamos el título principal al centro */
#titulo-principal {
    color: rgb(255, 127, 244);
    text-align: center;
}

/* Estilo para elementos urgentes */
.urgente {
    color: #FF0000; /* Rojo puro en hexadecimal */
    font-weight: bold; /* Texto en negrita */
}


/* El contenedor que envuelve los elementos */
section {
    display: flex;       /* Activa el modo flexible para sus hijos */
    flex-wrap: wrap;    /* Si no caben, saltan a la siguiente línea */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px;          /* Crea un pasillo de separación entre tarjetas */
}

/* Las cajas de cada elemento (los article) */
article {
    width: 300px;       /* Ancho fijo para que parezcan tarjetas */
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
}
